/* OPEN PIT */
.type1{
    background-color:#1b75bc;
    color:white;
}
.type2{
    background-color:#9fc9eb;
    ;
}
.type3{
    background-color:#cccccb;
}

footer{
    background-color:#cccccb;

}
h2{
    color:#1b75bc;
    text-align:left;

}