/* PTT */
.type1{
    background-color:#66cccc;
    color:white;
}
.type2{
    background-color:#b2b2b2;
    ;
}
.type3{
    background-color:#d3d2ae;
}

footer{
    background-color:#d3d2ae;

}
h2{
    color:#66cccc;
    text-align:left;

}