/* ORIGINAL  */
.type1{
    background-color:#f36421;
    color:white;
}
.type2{
    background-color:#fbb03f;
}
.type3{
    background-color:#fee3c6;
}

footer{
    background-color:#fee3c6;

}
h2{
    color:#f36421;
    text-align:left;

}
