/* UNDERGROUND */
.type1{
    background-color:#b0282a;
    color:white;
}
.type2{
    background-color:#cc9966
    ;
}
.type3{
    background-color:#b29d96;
}

footer{
    background-color:#b29d96;

}
h2{
    color:#b0282a;
    text-align:left;

}
