/* MINE CLOSURE */
.type1{
    background-color:#39b54a;
    color:white;
}
.type2{
    background-color:#becca8;
    ;
}
.type3{
    background-color:#adac9f;
}

footer{
    background-color:#adac9f;

}
h2{
    color:#39b54a;
    text-align:left;

}